//_articles START//
.article_logo{
    /*         border-radius: 50%; */
            width: 32px;
            height: 32px;
        }
article{

    .tags{
        font-size: .85rem;
    }
    .articles-list_menu{
        list-style: none;
    }
    .articles-author_container{
        color: gray;
        p{
            font-size: 12px;
        }
    }
    .articles-posts_menu{
        a{
            color: black;

        }
    }
    .post_img_minions{
        max-width: 100%;
        height: auto;
    }

    textarea{
        max-width: 100%;
        height: auto;
    }
    a:link{
        text-decoration: none;
    }
    a{
        text-decoration: none;
    }

}
//_articles END//